/* CONTACTO */
#bg-contactos{
position:relative;
top: -130px;
} 

#seccion-contacto{
min-height:500px;
position:relative;
}

#contenedor-formulario{
position:absolute;
top:51%;
left:50%;
transform: translate(-50%, -50%);
background: #fbfafa;
border-radius:5px;
}

.img-ayuda{
margin-top: 15%;
margin-left: 120px;
}
.img-ayuda-1{
margin-top: -45%;
margin-left: 1020px;
}