/* CONTACTO */
#bg-contactos{
position:relative;
top: -130px;
} 

#seccion-contacto{
min-height:500px;
position:relative;
}

#contenedor-formulario{
position:absolute;
top:51%;
left:50%;
transform: translate(-50%, -50%);
background: #fbfafa;
border-radius:5px;
}

// Mixins con parametros //
@mixin sizes($margin-left, $margin-top) {
    margin-top: $margin-top;
    margin-left: $margin-left;
}

.img-ayuda{
    @include sizes(120px, 15%);
}

.img-ayuda-1{
    @include sizes(1020px, -45%);
}