/* FOOTER */
footer {
min-height: 100px;;
    p{
    color: $footerpColor;
    text-align:center;
    }
}
#iconos  i {
font-size: 26px;
padding: 0 8px;
color: $footerpColor;
}

// Maps //

$redes:(
    footerI: #1b2a4e,
    footerN: #2b0078
);

@each $red, $color in $redes{
    .btn--#{$red}{
        background-color: $color;
    }
}