/* MEDIA QUERIES PANTALLA ANCHA */
@media (max-width:1200px){
.img-ayuda{
    display: none;
}
.img-ayuda-1{
    display: none;
}
#intro, #equipo {
    width:90% !important;
    margin:auto;
}
}

/* MEDIA QUERIES PANTALLA SM */
@media (max-width:768px) {

#intro, #equipo{
    width:90% !important;
    margin:auto;
}

#img-equipo{
    max-height:20rem !important;
    width:90%;
}
#bg-contactos{
    top: -120px;
}
}

@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
}
}

/* MEDIA QUERIES PANTALLA EXTRA-SM */
@media (max-width: 576px) {


.icono-wrap{
    flex-wrap:wrap !important;
    justify-content: center !important;
    text-align: center;
}
}

/* MEDIA QUERIES PANTALLA STAFF */
@media (max-width: 596px){
    .team-responsive{
    width:100%;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:25px;
    margin-left:0px;
    }
    .team-text{
        display: none;
    }
} 

/* MEDIA QUERIES PANTALLA SHOP */
@media only screen and (max-width: 600px) {
.columns {
    width: 100%;
}
}